{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    <title>{% translate "Change text" %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/create.css' %}">
{% endblock %}

{% block header %}
    <h1>{% translate "Almost Trello" %}</h1>
{% endblock %}

{% block nav %}
    <a href="{% url 'index' %}">
    <img class="nav_button" src="{% static 'images/home.png' %}">
    </a>
    <a style="text-decoration: none" href="{% url 'profile' request.user.pk %}">
        <div class="profile nav_button" >
            <img class="nav_button" src="{% static 'images/profile.png' %}">
            <span class="user">{{ request.user }}</span>
        </div>
    </a>

    <a href="{% url 'logout' %}"><img class="nav_button" src="{% static 'images/logout.png' %}"></a>
{% endblock %}

{% block aside %}
{% endblock %}

{% block content %}
    {% if object.owner == request.user or request.user.is_superuser %}
            <form method="post">
                <div class="form">
                    <p>Title:</p>
                    <p style= 'background-color: white;
                               border: solid 1px;
                               padding-left: 10px;
                               padding-right: 10px'> {{ object.title }} </p>
                    {% csrf_token %}
                    <p>Text:</p>
                    {{ form.text }}
                    {% if not object.performer or object.performer == request.user or request.user.is_superuser %}
                        <p>Performer:</p>
                        <p>{{ form.performer }}</p>
                    {% else %}
                        <p>Performer:</p>
                        <p style= 'background-color: white;
                               border: solid 1px;
                               padding-left: 10px;
                               padding-right: 10px'> {{ object.performer }} </p>
                    {% endif %}
                    <div class="buttons">
                        <button class="accept" type="submit" value="create"> update </button>
                        <a href="{% url 'index' %}"><button class="cancel" type="button">cancel</button></a>
                    </div>
                </div>
            </form>
    {% else %}
        <div align="center" ><img alt="image" src="{% static 'images/not_acces.jpg' %}"></div>
    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}