{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    <title>{% translate "Login" %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block header %}
    <h1>{% translate "Login" %}</h1>
{% endblock %}

{% block nav %}
    {% if not request.user.is_authenticated %}
		<span> {% translate 'Wanna register?' %}
            <a href="{% url 'register' %}"><button> {% translate 'Sign Up' %} </button></a>
        </span>
    {% endif %}
{% endblock %}

{% block content %}
    {% if not request.user.is_authenticated %}
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Login">
		</form>
	{% endif %}
{% endblock %}

{% block footer %}

{% endblock %}